#title {
    position: absolute;
    top: 0px;
    width: 400px;
}

#connection {
    position: inherit;
    top: 0px;
    right: 0px;
}

.connect {
    color: #18bc9c;
}

.disconnect {
    color: red;
}

#exia {
    position: absolute;
    top: 10px;
}

#map_data {
    position: absolute;
    top: 50px;
}

#exia img {
    width: 300px;
    height: auto;
}

#exia #ls2 {
    position: inherit;
    top: 95px;
    left: 30px;
    color: white;
    font-size: 24px;
}

#exia #rs2 {
    position: inherit;
    top: 95px;
    right: 30px;
    color: white;
    font-size: 24px;
}

#exia #rsd {
    position: inherit;
    top: 25px;
    right: 30px;
    color: red;
    font-size: 24px;
}

#exia #lsd {
    position: inherit;
    top: 25px;
    left: 30px;
    color: red;
    font-size: 24px;
}

#exia #ls1 {
    position: inherit;
    top: 50px;
    left: 60px;
    color: white;
    font-size: 24px;
}

#exia #rs1 {
    position: inherit;
    top: 50px;
    right: 60px;
    color: white;
    font-size: 24px;
}

#exia #lf1 {
    position: inherit;
    top: 120px;
    left: 35px;
    color: white;
    font-size: 24px;
}

#exia #rf1 {
    position: inherit;
    top: 10px;
    left: 130px;
    color: white;
    font-size: 24px;
}

#exia #gyro {
    position: inherit;
    top: 200px;
    left: 150px;
    text-align: center;
    color: white;
    font-size: 24px;
}

#exia #battery {
    position: inherit;
    top: 125px;
    left: 150px;
    text-align: center;
    color: white;
    font-size: 24px;
}

#console {
    position: absolute;
    top: 50px;
    left: 550px;
    width: 300px;
    height: 300px;
    background-color: transparent;
}

#exia #ls2_2 {
    position: inherit;
    top: 350px;
    left: 100px;
    color: white;
    font-size: 24px;
}

#exia #rs2_2 {
    position: inherit;
    top: 350px;
    right: 100px;
    color: white;
    font-size: 24px;
}

#exia #ls1_2 {
    position: inherit;
    top: 400px;
    left: 70px;
    color: white;
    font-size: 24px;
}

#exia #rs1_2 {
    position: inherit;
    top: 400px;
    right: 70px;
    color: white;
    font-size: 24px;
}

#exia #lf1_2 {
    position: inherit;
    top: 450px;
    left: 35px;
    color: white;
    font-size: 24px;
}

#exia #rf1_2 {
    position: inherit;
    top: 450px;
    right: 35px;
    color: white;
    font-size: 24px;
}

#map_result {
    /*position: absolute;*/
    top: 50px;
    /*left: 750px;*/
    width: 250px;
    height: 250px;
    background-color: transparent;
}

#map_resultBtn {
    position: absolute;
    top: 0px;
    left: 50px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

#map_create16 {
    position: absolute;
    top: 0px;
    left: 200px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

#map_create32 {
    position: absolute;
    top: 0px;
    left: 350px;
    width: 150px;
    height: 50px;
    background-color: transparent;
}

body {
    background-color: #add8ff;
}

#container {
    width: 100%;
    height: 100%;
    position: relative;
}

.jumbotron.special {
    padding: 0 0 20px 20px;
    margin: auto auto;
}

.btn2 {
    background: #333;
    color: #111;
    padding: 18px 18px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url(line2.svg);
}

.btn2:focus {
    outline: none;
}

.btn2:target {
    outline: none;
}

#target2 {
    position: absolute;
    padding-top: 10px;
    left: 0px;
}

.btn2:active {
    outline: none;
}

.btn2:hover {
    outline: none;
}

.hasNorth {
    border-top: 1px solid #C00;
}

.hasEast {
    border-right: 1px solid #C00;
}

.hasWest {
    border-left: 1px solid #C00;
}

.hasSouth {
    border-bottom: 1px solid #C00;
}

.btn_header {
    color: #111;
    border-bottom: 2px solid #C00;
}

.btn_footer {
    color: #111;
    border-top: 2px solid #C00;
}

.btn_right {
    color: #111;
    border-left: 2px solid #C00;
}

.btn_left {
    color: #111;
    border-right: 2px solid #C00;
}

#walloption {
    position: absolute;
    width: 720px;
    height: 100%;
    display: block;
    background: #444;
    color: #111;
    border: 1px solid rgba(255, 255, 255, 0.125);
    background-image: url(line2.svg);
}

#left_wall {
    position: inherit;
    width: 23.6px;
    height: 720px;
    background: #c00;
    z-index: 100;
}

#right_wall {
    position: inherit;
    width: 23.6px;
    height: 720px;
    right: 0px;
    background: #c00;
    z-index: 100;
}

#sen_result {
    position: absolute;
    top: 470px;
    left: 50px;
    width: 700px;
    height: 300px;
}

#Slalom {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: transparent;
}

.turn_ul {
    list-style: none;
    width: 250px;
}

.turn_ul li {
    width: 250px;
}

.turn_ul li input {
    width: 150px;
    float: left;
    text-align: right;
}

.turn_ul li span {
    width: 100px;
    float: left;
}

#slalom_g {
    width: 700px;
    height: 800px;
    float: left;
}

#turn_btn {
    position: relative;
    width: 250px;
}

.glaph {
    float: left;
    width: 500px;
    height: 500px;
}

.turn_kind {
    padding-left: 50px;
}

.turn_kind ul {
    list-style: none;
}

.highcharts-plot-background {
    fill: #000000;
}

#consolebtn {
    position: absolute;
    top: 100px;
    left: 500px;
}

.btn-success {
    width: 100px;
    height: 40px;
    float: left;
}

.btnlist {
    width: 300px;
    position: absolute;
    top: 0px;
    left: 325px;
}

.paramlist1 {
    position: absolute;
    top: 50px;
    width: 50px;
    left: -55px;
}

.paramlist1 {
    width: 350px;
}

.paramlist1>ul {
    padding-top: 25px;
}

ul {
    list-style: none;
}

.alldata {
    position: relative;
    left: 350px;
    width: 500px;
    height: 50px;
    max-height: 50px;
    max-width: 500px;
    min-height: 50px;
    min-width: 500px;
}

#tab1 {
    position: absolute;
    top: 50px;
    left: 325px;
    width: 600px;
}

.index {
    width: 50px;
    float: left;
}

.paramid {
    width: 100px;
    float: left;
}

.paramid2 {
    width: inherit;
}

.name {
    width: 150px;
    float: left;
}

.value {
    width: 150px;
    float: left;
}

.update {
    width: 100px;
    float: left;
}

.update>button {
    width: inherit;
}

.descript {
    width: 300px;
    float: left;
}

.descript>input {
    width: inherit;
}

.paramlist {
    width: 850px;
    height: 40px;
}

.paramlist>div>input {
    height: 40px;
}

#hoge {
    position: absolute;
    top: -200px;
    left: -200px;
}

.copy {
    position: absolute;
    left: 300px;
}

#cmdlist {
    text-align: left;
    margin-top: 20px;
    background-color: aliceblue
}

#cmdlist ul {
    margin-left: -25px;
}

#cmd {
    text-align: left;
    background-color: aliceblue
}

#cmd div {
    margin-left: -25px;
}